@charset "UTF-8";
.certificationWrap {
	height:51rem;
	text-align:center;
}
.certificationWrap h1 {
	padding-top : 16rem;
	padding-bottom: 5rem;
	font-size : 3rem;
	font-weight : 600;
}
.certificationWrap label {
	font-size: 1.8rem;
	margin: 2rem;
	text-align : left;
}
.certificationWrap form input::placeholder {
	color: #dbdbdb;
	font-size: 1.8rem;
}

.certificationWrap form input:focus::placeholder {
	opacity: 0;
}

.certificationWrap .infoMsg {
	margin-top: 1.5rem;
    margin-bottom: 4.5rem;
    color: #d20404;
}

.certificationWrap input[type="password"] {
	padding-left: 4.4rem;
	border-radius : 0.4rem;
	width: 25%;
	font-size : 1.8rem;
	border: 1px solid #dbdbdb;
	background: white;
	background-repeat: no-repeat;
   	background-position: 1.3rem;
	height: 5rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg transform='translate(-794 -453)'%3E%3Cg transform='translate(801 456)' fill='%23fff' stroke='%23dbdbdb'%3E%3Ccircle cx='5' cy='5' r='5' stroke='none'/%3E%3Ccircle cx='5' cy='5' r='4.5' fill='none'/%3E%3C/g%3E%3Cg transform='translate(798 461)' fill='%23fff' stroke='%23dbdbdb'%3E%3Crect width='16' height='14' rx='2' stroke='none'/%3E%3Crect x='.5' y='.5' width='15' height='13' rx='1.5' fill='none'/%3E%3C/g%3E%3Ccircle cx='2' cy='2' r='2' transform='translate(804 464)' fill='%23dbdbdb'/%3E%3Crect width='2' height='6' rx='1' transform='translate(805 466)' fill='%23dbdbdb'/%3E%3C/g%3E%3C/svg%3E");
	transition: 0.1s;		
}
.certificationWrap input[type="password"]:focus {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg transform='translate(-794 -453)'%3E%3Cg transform='translate(801 456)' fill='%23fff' stroke='%230071eb'%3E%3Ccircle cx='5' cy='5' r='5' stroke='none'/%3E%3Ccircle cx='5' cy='5' r='4.5' fill='none'/%3E%3C/g%3E%3Cg transform='translate(798 461)' fill='%23fff' stroke='%230071eb'%3E%3Crect width='16' height='14' rx='2' stroke='none'/%3E%3Crect x='.5' y='.5' width='15' height='13' rx='1.5' fill='none'/%3E%3C/g%3E%3Ccircle cx='2' cy='2' r='2' transform='translate(804 464)' fill='%230071eb'/%3E%3Crect width='2' height='6' rx='1' transform='translate(805 466)' fill='%230071eb'/%3E%3C/g%3E%3C/svg%3E");
}

.certificationWrap button {
	display: block;
    margin: 0 auto;
    background: #0071eb;
    color: white;
    font-size: 1.8rem;
    width: 27%;
    height: 5.2rem;
    border-radius: 0.4rem;
}
	
